# Ignore output files
mcpFiles/*
!mcpFiles/README.md

ddsimFiles/*
!ddsimFiles/README.md

recoedFiles/*
!recoedFiles/README.md

analysis/old

analysis/figures/*
!analysis/figures/README.md

analysis/*csv
